In [1]:
import sys
sys.path.append('/home/sardarchitect/repos/github.com/ucsd_capstone/')

In [2]:
from streetstudy.data.virat import get_annotations
import pandas as pd

In [9]:
current_video = '/home/sardarchitect/repos/github.com/ucsd_capstone/virat/videos/VIRAT_S_000002.mp4'
annotations_df = get_annotations(current_video, format='yolo')

In [10]:
annotations_df

,current_frame,object_type,bbox_center_x,bbox_center_y,bbox_width,bbox_height
0,0,0,0.671,0.406,0.027604,0.107407
1,1,0,0.671,0.406,0.027604,0.107407
2,2,0,0.670,0.406,0.027604,0.107407
3,3,0,0.670,0.406,0.027604,0.107407
4,4,0,0.669,0.406,0.027604,0.107407
...,...,...,...,...,...,...
46851,4903,0,0.990,0.118,0.019792,0.075000
46852,4904,0,0.990,0.118,0.019792,0.075000
46853,4905,0,0.990,0.118,0.019792,0.075000
46854,4906,0,0.990,0.118,0.019792,0.075000
46855,4907,0,0.990,0.118,0.019792,0.075000